@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  
  .text-cs{
    font-size: 85px;
    line-height: 75px;
}

.text-cssm{
    font-size: 13px;
    line-height: 20px;
}

.text-mini{
    font-size: 9px;
}

.text-bs{
    font-size: 43px;
    line-height: 50px;  
}

.learn-beckground{
  background-image: url(./assets/learnbg.png);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track{
  cursor: pointer;
  background-color: transparent ;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.Chapter{
  background-image: url(./assets/bgch.png);
}

.startscrlaptop{
  padding-top: 20px;
  background: url(./assets/bgstart.png), #4604B1;
  object-fit: cover;
  background-position-y: 40px;
  object-position: center;
}

.startscrmobile{
  padding-top: 20px;
  background: url(./assets/cyber.png), #4604B1;
  width: 100vh;
  object-fit: cover;
  background-position-y: 40px;
  object-position: center;
}

#myInput {
  border: 1px solid #ccc;
}

#myInput:focus {
  border: transparent
}

.w-qs{
  width: 38rem;
}

.w-zs{
  width: 25rem;
}

.w-zz{
  width: 35rem;
}

.w-ma{
  width: 50rem;
}

.w-sc{
  width: 60rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1; /* adjust the z-index value as needed */
}
